<!DOCTYPE html>
<html>
    <body>
        <form method="post" action="{{ url_for('divide') }}">
            {{ form.hidden_tag() }}

            {{ form.webLink.label }} {{ form.webLink() }}
            {% if form.webLink.errors %}
                Error: {{ ', '.join(form.webLink.errors) }}
            {% endif %}

            <input type="submit" value="Download"/>
        </form>
        {% if result %}
                <a href="{{result}}" download=result> Download Here </a>
        {% endif %}
    </body>
</html>